@import '/src/styles/colors.scss';

.pagination {
    display: flex;
    flex-direction: row;
    gap: 16px;

    user-select: none;

    &__group {
        display: flex;
        flex-direction: row;
        gap: 8px;
    }

    &__button {
        padding: 8px;
        border-radius: 4px;
        aspect-ratio: 1/1;
        color: $color-primary;
        font-size: 18px;
        font-family: 'Lexend Deca', sans-serif;
        transition: color 0.1s linear;

        &[data-current='true'] {
            background-color: $color-orange;
            color: #ffffff;
        }

        @media (hover: hover) {
            &:hover:not([data-current='true']) {
                color: $color-orange;
            }
        }
    }
}