* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.loader {
    position: relative;
    width: 200px;
    height: 200px;
}

.loader svg {
    position: absolute;
    top: 0;
    left: 0;
}

.loader svg circle {
    fill: none;
    stroke: #fbf7f7;
    stroke-width: 10px;
    stroke-linecap: round;
    animation: animate 1.25s linear infinite;
}

.loader svg:nth-child(1) circle {
    filter: blur(10px);
    stroke: #ec923e;
}

.loader svg:nth-child(2) circle {
    filter: blur(20px);
    stroke: #e1d2d2;
}

@keyframes animate {
    0% {
        stroke-dasharray: 295;
        stroke-dashoffset: 295;
    }

    50% {
        stroke-dasharray: 295;
        stroke-dashoffset: 0;
    }

    100% {
        stroke-dasharray: 295;
        stroke-dashoffset: -295;
    }
}