.searchLine {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 760px;
    height: 64px;
    gap: 24px;

    border-radius: 16px;
    padding: 16px;
    background-color: #3939390D;

    &__input {
        font-family: 'Inter', sans-serif;
        font-size: 18px;
        width: 100%;
    }

    @media (max-width: 400px) {
        &>img {
            width: 20px;
            height: 20px;
        }

        &__input {
            font-size: 14px;
        }

    }

    @media (max-width: 290px) {
        gap: 10px;
    }
}