@import '/src/styles/colors.scss';

.museumSearch {
  width: 100%;
  display: flex;
  flex-direction: column;

  &__loader {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__heading {
    padding-top: 120px;
    text-align: center;

    @media screen and (max-width: 650px) {
      padding-top: 30px;
    }
  }

  &__title {
    line-height: 1;
    font-size: 64px;
    font-weight: 700;
    font-family: 'Lexend Deca', sans-serif;
    color: $color-primary;
    text-transform: capitalize;
  }

  &__highlight {
    color: #F17900;
  }

  &__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 24px;
    box-sizing: border-box;
  }

  &__form {
    padding-top: 72px;
    display: flex;
    justify-content: center;

    div {
      width: 760px;
    }

    @media screen and (max-width: 650px) {
      div {
        width: 100%;
        padding: 0 16px;
      }
    }
  }

  &__resultWrapper {
    padding-top: 32px;
    display: flex;
    gap: 24px;
    flex-direction: column;
    align-items: center;
  }

  @media screen and (max-width: 300px) {
    &__title {
      font-size: 42px;
    }

  }

  &__pagination {
    align-self: flex-end;

    @media (max-width: 1306px) {
      align-self: center;
    }
  }
}