.paintingList {
  width: 100%;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: #fafafa;
  }

  @media (max-width: 872px) {
    align-items: center;
}
}